{% extends 'base.html.twig' %}

{% form_theme form _self %}

{%- block number_widget -%}
    {%- set type = type|default('number') -%}
    {{ block('form_widget_simple') }}
{%- endblock number_widget -%}


{% block body %}
    <h1>Blogpost creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-primary" type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('blogpost_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript">
        $(function() {
            $('#product_datetime').datetimepicker({
                inline: true,
                sideBySide: true,
                showTodayButton: true,
                toolbarPlacement: 'bottom',
                format: 'YYYY HH:mm:ss DD-MM'
            });
        });
    </script>

{% endblock %}
